.home-section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 80%;
  margin: 0 auto;
  justify-content: center;
}

.home-heading {
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 3rem;
  font-size: 4rem;
  line-height: 4.5rem;
  letter-spacing: -0.02em;
  font-family: "Poppins", sans-serif;
}

.text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
  width: 100%;
  padding: 5rem 2rem;
  z-index: 999;
  background-color: #fff;
}

.home-paragraph {
  color: #404044;
  margin-bottom: 2rem;
  max-width: 768px;
  font-size: 38px; /* Adjusted font-size for better responsiveness */
  font-weight: lighter;
  line-height: 1.75;
  transform: translateY(20px);
  transition: transform 0.5s ease-in-out;
}

.home-paragraph.slide-up {
  transform: translateY(0);
}

.home-butto {
  background: transparent;

  color: white;

  padding: 0.75rem 2rem;

  border-radius: 2rem;

  transition: background-color 0.3s ease;

  font-size: 1.1rem;

  font-weight: 600;

  border: 1.5px solid white;
}

.home-button {
  background-color: #fce7f1;

  color: #ee76ad;

  padding: 1rem 2.2rem;

  border-radius: 2.2rem;

  transition: transform 0.5s ease-in-out;

  font-size: 1.2rem; /* Adjusted font-size for better responsiveness */

  font-weight: 600;

  margin-top: 2rem;

  transform: translateY(20px);
}

.home-button.slide-up {
  transform: translateY(0);
}

.home-button:hover {
  background-color: white;

  border: 2px solid #ee76ad;

  color: #ee76ad;
}

.span1 {
  background-color: #fdf2ea;

  color: #efac78;

  padding-left: 5px;

  padding-right: 5px;

  font-size: 38px; /* Adjusted font-size for better responsiveness */

  font-weight: bold;
}

.subpart1 {
  color: #00000033;

  font:
    1rem Arial,
    Sans-serif; /* Adjusted font-size for better responsiveness */

  margin-bottom: 15px;

  transform: translateY(20px);

  transition: transform 0.5s ease-in-out;
}

.subpart1.slide-up {
  transform: translateY(0);
}

.subpart2 {
  margin-bottom: 24px;

  font-size: 2.3rem; /* Adjusted font-size for better responsiveness */

  color: #404044;

  font-weight: bold;

  transform: translateY(20px);

  transition: transform 0.5s ease-in-out;
}

.subpart2.slide-up {
  transform: translateY(0);
}

.subpart3 {
  color: #8b8b92;

  font-size: 1.4rem; /* Adjusted font-size for better responsiveness */

  transform: translateY(20px);

  transition: transform 0.5s ease-in-out;

  line-height: 1.7;
}

.subpart3.slide-up {
  transform: translateY(0);
}

.span1 {
  background-color: #fdf2ea;

  color: #efac78;

  border-radius: 3px;
}

.services-section {
  display: flex;
  padding: 35px;
  background-color: #fff;
  text-align: center;
  flex-wrap: wrap;
  gap: 0;
  /* margin-top: 5rem; */
}

.service-card {
  background-color: #fff;
  padding: 30px;
  border-radius: 0;
  box-shadow: none;
  transform: translateY(0);
  opacity: 1;
  transition: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 25%;
  box-sizing: border-box;
}

.service-card:nth-child(4n) {
  border-right: none;
}

.service-icon {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 1rem;
}

.strategy-icon {
  background-color: #a7e9f7;
  color: #00bcd4;
}

.design-icon {
  background-color: #fdd8d7;
  color: #e91e63;
}

.development-icon {
  background-color: #ffe0b2;
  color: #ff9800;
}

.helpsupport-icon {
  background-color: #dcedc8;
  color: #8bc34a;
}

.service-card h3 {
  margin-bottom: 15px;
  color: #333;
  font-size: 1.2rem; /* Adjusted font-size for better responsiveness */
}

.service-card p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
  font-size: 0.9rem; /* Adjusted font-size for better responsiveness */
}

.learn-more-button {
  background-color: transparent;
  color: #00bcd4;
  border: 1px solid #00bcd4;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  margin-top: 1rem;
}

.learn-more-button:hover {
  background-color: #00bcd4;
  color: #fff;
}

.headi {
  padding-bottom: 5px;
  color: #404044;
  /* font-size: large; */
}

@media (max-width: 768px) {
  .home-section {
    height: auto;
    padding-bottom: 2rem;
  }

  .home-content {
    max-width: 100%;
  }

  .home-heading {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 2rem;
  }

  .text-section {
    padding: 3rem 1rem;
  }

  .home-paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .home-button {
    font-size: 1rem;
    padding: 0.75rem 2rem;
  }

  .services-section {
    flex-direction: column;
    margin-top: 3rem;
  }

  .service-card {
    width: 100%;
    margin-bottom: 2rem;
  }
  .service-card:last-child {
    margin-bottom: 0;
  }

  .service-card h3 {
    font-size: 1.2rem;
  }

  .service-card p {
    font-size: 0.9rem;
  }

  .learn-more-button {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .home-heading {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .text-section {
    padding: 2rem 1rem;
  }

  .home-paragraph {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }

  .home-button {
    font-size: 0.9rem;
    padding: 0.75rem 1.5rem;
  }

  .span1 {
    font-size: 0.9rem;
  }
  .subpart2 {
    font-size: 1.5rem;
  }
  .subpart3 {
    font-size: 0.9rem;
  }
}
